:root {
  /* Colors*/
  --color-primary-hue: 300;
  --color-primary-saturation: 25%;
  --color-primary-lightness: 50%;

  --color-primary: hsl(var(--color-primary-hue), var(--color-primary-saturation), var(--color-primary-lightness));

  --color-secondary-lightness: calc(var(--color-primary-lightness) - 10%);

  --color-secondary: hsl(var(--color-primary-hue), var(--color-primary-saturation), var(--color-secondary-lightness));

  --color-background: hsl(var(--color-primary-hue), 5%, 15%);

  --color-accent: white;

  --color-text-primary: var(--color-accent);

  --color-link: var(--color-primary);
  --color-link-visited: hsl(var(--color-primary-hue), var(--color-primary-saturation), 62%);

  --color-media-background-gradient-first: hsl(var(--color-primary-hue), 5%, 15%);
  --color-media-background-gradient-second: hsl(var(--color-primary-hue), 5%, 10%);
  
  --color-shadow-primary: hsla(0, 0%, 10%, 90%);

  /* Fonts */
  --font-family-primary: sans-serif;

  --font-size-primary: 1.2rem;
  --font-size-small: 0.8rem;
  --font-size-navigation-button: 2rem;

  /* Animation Times */
  --info-tab-button-animation-speed: 100ms;
  --info-box-content-animation-speed: 300ms;

  /* Constants */
  --margin-page-vertical-primary: 1rem;
}

:link {
  color: var(--color-link);
}

:visited {
  color: var(--color-link-visited);
}

button {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-primary);
  color: var(--color-text-primary);
}